{% load static %}
<html>
    <head>
        <title>Muro de notas</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/muro.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar fixed-top  navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a href="/" class="navbar-brand" >
                    Muro de Notas
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
                    <span class="navbar-toggler-icon" ></span>
                </button>
                <div className="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li>
                            <a href="/" class="nav-link" >Notas</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'nueva_nota' %}" class="nav-link" >Crear Nota</a>
                        </li>
                            <h2><span class="badge badge-pill badge-light">{{ user.username }} </span></h2>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}" type="button" class="btn btn-warning">Log out</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'login' %}" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
                                <span class="fa fa-lock"></span>
                                Login
                            </a>
                        </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>

        <div class="container p-4 mt-sm-5">
            <div class="row">
                {% block content %}
                {% endblock %}
              </div>

        </div>

        

    </body>
</html>