{% extends 'notas/base.html' %}
{% block content %}
    <div class="row" >
        {% for nota in notas %}
            <div class="col-md-4 p-2"  key={nota.node.id} >
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                    <h5>{{ nota.titulo }}</h5>
                    {% if user.is_authenticated %}
                    <a href="{% url 'editar_nota' pk=nota.pk %}" class="btn btn-secondary">Editar</a>
                    {% endif %}
                    </div>
                    <div class="card-body">
                    <p> {{ nota.descripcion|linebreaksbr }} </p>
                    <h1><span class="badge badge-pill badge-light">{{ nota.autor }}</span></h1>
                    </div>
                    <div class="card-footer">
                    {% if user.is_authenticated %}
                    <a href="{% url 'eliminar_nota' pk=nota.pk %}" onClick="return confirm ('¿Está seguro de borrar la nota?');" class="btn btn-danger" >Eliminar</a>
                    {% endif %}
                    </div>
                </div>
             </div>
        {% endfor %}
        
    </div>
    <footer>
        <strong>Desarrolladores:</strong>
        <p></p>
        <strong>Daniel Américo Tzunun Acabal - 201508186</strong>
        <p></p>
        <strong>María Laura Morales Fuentes - 201408091</strong>
    </footer>
{% endblock%}